@page "/"
@inject F76Manager manager
<h1>Hello, world!</h1>

Welcome to your new app. 

@if (manager.IsBusy) {
  <p>loading....</p>
} else {
  <p>Manager is ready</p>
}
<ProgressIndicator Description="Sample Description"
   Indeterminate="true"
   Style="margin:15px;"
   Label="Indeterminate Progress Indicator" />
            

@code {
      protected override async Task OnInitializedAsync() => 
        await manager.Init();

        
  


}